doctype html
- var chats = chats
- var bruger = bruger
- var userlevel = userlevel
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/frontpage.css")
        script(src="/js/chats.js" defer)
    body
h1 chatsiden
ul
    each chat in chats 
        li(id='chat' + chat.id)
            a(href='/chats/' + chat.id) #{chat.navn} #{chat.oprettelsesdato}
            if (userlevel == 3 || chat.ejer == bruger)
                    button(id='ret' + chat.id) Ret chat
                    button(id='slet' + chat.id) Slet chat
button(id='opretChat') Opret chat