doctype html
- var chats = chats
- var bruger = bruger
- var userlevel = userlevel
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/frontpage.css")
        script(src="/js/chats.js" defer)
    body
div.headerContainer
    if (userlevel != undefined)
        input.logout-button(type="button", value="log ud", onclick="logout()")
    else
        input.logout-button(type="button", value="log ind", onclick="login()")
    h1.header-title Chatsiden
    if (userlevel == 3)
        input.back-button(type="button", value="Tilbage", onclick="history.back()")
div.chatContainer
    ul
        each chat in chats 
            li()
                a(id='chat' + chat.id, href='/chats/' + chat.id)
                if (userlevel == 3 || chat.ejer == bruger)
                    button(id='ret' + chat.id) Ret chat
                    button(id='slet' + chat.id) Slet chat
    if (userlevel == 2 || userlevel == 3)
        button(id='opretChat', onclick="opretChat()") Opret chat