doctype html
- var chats = chats
- var bruger = bruger
- var userlevel = userlevel
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/chats.css")
        script(src="/js/chats.js" defer)
    body
div.headerContainer
    if (userlevel != undefined)
        button.logout-button(onclick="logout()") log ud
    else
        button.logout-button(onclick="login()") log ind
    h1.header-title Chatsiden
    if (userlevel == 3)
        button.back-button(id="backButton") Tilbage
div.chatContainer
    div
        each chat in chats 
            div(id="chats")
                a(id='chat' + chat.id, href='/chats/' + chat.id)
                if (userlevel == 3 || chat.ejer == bruger)
                    button(id='ret' + chat.id, onclick="retChat(" + chat.id + ")") Ret chat
                    button(id='slet' + chat.id, onclick="sletChat(" + chat.id + ")") Slet chat
    if (userlevel == 2 || userlevel == 3)
        button(id='opretChat', onclick="opretChat()") Opret chat