doctype html
- var bruger = bruger
- var userlevel = userlevel
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/frontpage.css")
        script(src="/js/frontpage.js" defer)
    body
h1 Velkommen til siden #{bruger}
if (userlevel == 3)
    button(class='button', id='users') Se brugere
    button(class='button', id='opretUser') Opret bruger

button(class='button', id='seChats') Se chats
button(class='button', id='0') Log ud