doctype html
- var bruger = bruger
- var userlevel = userlevel
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/frontpage.css")
        script(src="/js/frontpage.js" defer)
    body
h1 Velkommen til siden #{bruger}
if (userlevel == 3)
    input(type='button', class='button', value='Se brugere')
    input(type="button", class='button',id='opretUser', value='Opret bruger')

input(type='button', class='button', id='seChats', value='Se chats')
input(type='button', class='button', id='0', value='Log ud')
div()
    ul(id='chatList')
