doctype html
- var bruger = bruger
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/frontpage.css")
        script(src="/js/opretChat.js" defer)
    body
        h1 Opret chat
        input(type='text' name='navn', id='chatnavn' placeholder='navn på chat' required)
        input(type='text' name='besked', id='chatbesked' required)
        button(name='opretUser', id='opretChat') Opret chat