doctype html
- var bruger = bruger
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/frontpage.css")
        script(src="/js/chats.js" defer)
    body
        input(type='text' name='navn',, id='' placeholder='navn på chat' required)

        input(type='button' name='opretUser',, id='opretUser' value='Opret User')