include includes/header
html(lang="en")
    head
        meta(charset="UTF-8")
        title Users
        link(rel="stylesheet", href="/css/seUser.css")
    body
        div.header-container
            h1.header-title Bruger Liste
            button.back-button(onclick="history.back()") Tilbage
        div.user-grid
            each user in users
                div.user
                    p
                        strong Brugernavn:
                        span #{user.brugernavn}
                    p
                        strong Brugerlevel:
                        span #{user.brugerniveau}
                    button.details-button(onclick=`location.href='/users/${user.brugernavn}'`) Detaljer
    