body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  font-family: comic sans ms, cursive, sans-serif;
}
.headerContainer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: center;
  max-width: 600px;
  width: 90%;
}

button {
  margin: 10px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  font-family: comic sans ms, cursive, sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

div[id="chats"]{
  font-family: comic sans ms, sans-serif;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}
