body {
    font-family: comic sans ms, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    margin: 50px;
    border: 5px solid #000000;
    border-radius: 15px;
    width: auto;
}

h1{
    margin: 0px;
    border-radius: 0px;
}

p{
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  border-radius: 5px;  
}

input{
    font-family: comic sans ms, sans-serif;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

input[id="opretUser"]:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

input[id="tilbage"] {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 10px;
}

input[id="tilbage"]:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
}

input[id="logud"]{
    position: fixed;
    right: 1.75cm;
    top: 1.5cm;
}

input[id="logud"]:hover {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    right: 1.75cm;
    top: 1.5cm;
}

button {
    font-family: comic sans ms, sans-serif;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

button[id="tilbage"] {
    font-size: 10px;
}

button[id="logud"]{
    position: fixed;
    right: 1.75cm;
    top: 1.5cm;
}