body {
  font-family: comic sans ms, sans-serif;
  margin: 0;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border: black 2px solid;
  border-radius: 8px;
}

.header-title {
  margin: 0;
  color: #333;
}

.back-button {
  font-size: 14px;
  font-family: comic sans ms, sans-serif;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
  border: black 2px solid;
  border-radius: 8px;
  padding: 20px;
}
